.TodoList {
  margin: 20px;
  width: 287px;
}

.TodoList ul {
  padding: 0px;
}

.TodoList li {
  list-style: none;
}

.TodoList li a,
.TodoList li a:visited,
.TodoList li a:active {
  text-decoration: none;
  color: rgb(126, 105, 165);
}
